
*.vcxproj
*.config
*.tlog
*.obj
*.idb
*.log
*.txt
*.lib
*.pdb
*.ipch
*.db
*.sln
2D-curves/.vs/2D-curves/v15/.suo
*.exe
*.ilk
*.h
*.pump
*.pch
*.CopyComplete
*.user
2D-curves/Sample-Test1/test.cpp
2D-curves/Sample-Test1/pch.cpp
*.targets
*.xml
*.nupkg
*.filters
*.db-wal
2D-curves/.vs/2D-curves/v16/.suo
*.opendb
*.db-shm
2D-curves/2D-curves/x64/Debug/2D-curves.exe.recipe
