
*.vcxproj
*.config
*.tlog
*.obj
*.idb
*.log
*.txt
*.lib
*.pdb
*.ipch
*.db
*.sln
2D-curves/.vs/2D-curves/v15/.suo
*.exe
*.ilk
*.h
*.pump
*.pch
*.CopyComplete
*.user
2D-curves/Sample-Test1/test.cpp
2D-curves/Sample-Test1/pch.cpp
*.targets
*.xml
*.nupkg
*.filters
